/* stylelint-disable selector-pseudo-class-no-unknown */
.roadmap {
  padding-top: 150px;
}

.container {
  display: grid;
  grid-template-columns: minmax(100px, 430px) 1fr;
  column-gap: 130px;
  margin-top: 75px;
}

.content {
  margin-top: -10px;
  font-size: 20px;
}

.buttons {
  margin-top: 80px;
}

.steps {
  counter-reset: steps;
}
