html,
body {
  -webkit-overflow-scrolling: touch;

  // Mozilla Firefox
  scrollbar-width: thin;
  scrollbar-color: $primary transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Styled scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 6px;

  &:hover {
    background: $white;
  }
}

::selection {
  color: $black;
  background: $primary;
}

[type='search']::-webkit-search-decoration,
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-results-button,
[type='search']::-webkit-search-results-decoration {
  appearance: none;
}

a {
  transition: color 200ms;
}

.js-off-canvas-overlay {
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
}

svg {
  display: block;
}

.accordion {
  &-item {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  &-button {
    font-size: 20px;
    font-weight: 600;
  }

  &-body {
    margin-top: -8px;
    // border: 8px solid;
    box-shadow: inset 0 0 0 8px $black, 0 8px 0 $black, 8px 8px 0 $black;

    p:last-child {
      margin: 0;
    }
  }
}
