// h1, h2, h3, p etc.
h1 {
  max-width: 820px;
  margin-bottom: 40px;
  line-height: 1.2;

  @include b-d(xl) {
    font-size: 48px;
  }

  @include b-d(md) {
    font-size: 36px;
  }

  &::after {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    content: '' !important;
    border-right: 6px solid $primary;
    @include b-d(xl) {
      border-width: 4px;
    }
  }
}

h2,
h3 {
  span {
    display: inline-flex;
    align-items: center;
    padding: 0 0.3em 0.15em;
    color: $primary;
    background: #393939;
  }
}

h2 {
  @include b-d(xxl) {
    br {
      display: none;
    }
  }
  @include b-d(xl) {
    font-size: 36px;
  }
  @include b-d(md) {
    font-size: 26px;
  }

  span {
    height: 1.43em;
  }
}

h3 {
  @include b-d(xl) {
    font-size: 18px;
  }

  @include b-d(md) {
    font-size: 16px;
  }

  span {
    display: inline;
    height: 1.8em;
  }
}

p {
  @include b-d(xl) {
    font-size: 18px;
  }
  @include b-d(md) {
    font-size: 16px;
  }
}

.lead {
  @include b-d(xl) {
    font-size: 18px;
  }
  @include b-d(md) {
    font-size: 16px;
  }
}
