// h1, h2, h3, p etc.
h1 {
  max-width: 820px;
  margin-bottom: 40px;
  line-height: 1.2;

  &::after {
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    content: '';
    border-right: 6px solid $primary;
  }
}

h2,
h3 {
  span {
    display: inline-flex;
    align-items: center;
    padding: 0 0.3em 0.15em;
    color: $primary;
    background: #393939;
  }
}

h2 {
  span {
    height: 1.43em;
  }
}

h3 {
  span {
    height: 1.8em;
  }
}

// .lead
