@import '~styles/mixins';

.footer {
  padding: 60px 0;
  margin-top: 100px;
  background: $black;

  @include b-d(xl) {
    padding: 40px 0;
    margin-top: 80px;
  }

  @include b-d(md) {
    margin-top: 60px;
  }

  &.explorer {
    margin: 0;
  }

  &__inner {
    display: grid;
    grid-template-areas: 'logo mail social';
    grid-template-columns: 2fr auto 2fr;
    grid-gap: 17px 40px;
    align-items: center;
    justify-content: space-between;

    @include b-d(xl) {
      column-gap: 100px;
    }
    @include b-d(lg) {
      grid-template-areas:
        'logo mail'
        'social social';
      grid-template-columns: auto auto;
    }
    @include b-d(md) {
      grid-template-areas:
        'logo social'
        'mail social';
      column-gap: 20px;
    }
  }

  &__logo {
    grid-area: logo;
    @include b-d(md) {
      align-self: end;
    }
  }

  &__mail {
    grid-area: mail;

    @include b-d(md) {
      align-self: start;
      font-size: 14px;
    }
  }
}
