@import '~styles/mixins';

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 40px;
  @include b-d(xl) {
    margin: 30px 0;
  }
  @include b-d(lg) {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 70px;
    margin: 0;
    background: rgba($black, 0.8);
    transition: transform 350ms;
    transform: translateY(100%);

    &.scroll {
      transform: translateY(0);
    }
  }
}

.filters {
  display: flex;
  column-gap: 20px;
  @include b-d(xl) {
    column-gap: 10px;
  }
  @include b-d(lg) {
    display: none;
  }
}

.actions {
  display: flex;
  grid-gap: 20px 50px;
  @include b-o(lg) {
    display: grid;
    justify-items: end;
  }
  @include b-d(lg) {
    width: 100%;
    padding: 0 20px;
  }
  @include b-d(md) {
    column-gap: 36px;
    padding: 0 18px;
  }
}

.actionButton {
  display: flex;
  column-gap: 15px;
  align-items: center;
  font-weight: 500;
  color: $white;
  transition: color 250ms;

  @include b-d(md) {
    column-gap: 12px;

    span {
      display: none;
    }
  }

  &:hover {
    color: $primary;
  }

  svg {
    color: $primary;
    transition: inherit;
  }

  &:disabled {
    cursor: not-allowed;

    &,
    svg {
      color: #929292;
    }
  }

  &.fetching {
    cursor: progress;
  }

  &__filters {
    margin-right: auto;
    @include b-up(lg) {
      display: none;
    }
  }

  &__close {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.mobilefilters {
  display: grid;
  height: 100%;
  padding: 40px 20px 110px;

  &__inner {
    display: grid;
    row-gap: 50px;
    align-content: start;
    padding-right: 26px;
    overflow: auto;
    word-break: break-all;

    &::-webkit-scrollbar {
      width: 4px;
      background: #3f3f3f;

      &-thumb {
        background: $primary;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: $white;
    text-align: left;
    transition: color 300ms;

    &:hover {
      color: $primary;
    }

    &.selected {
      color: $primary;
    }

    &[aria-expanded='true'] {
      &::after {
        transform: rotate(180deg);
      }
    }

    &::after {
      width: 28px;
      height: 28px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.65081 11.2408C7.23148 10.8813 6.60018 10.9299 6.24076 11.3492C5.88134 11.7686 5.9299 12.3999 6.34923 12.7593L13.3492 18.7593C13.7237 19.0803 14.2763 19.0803 14.6508 18.7593L21.6508 12.7593C22.0701 12.3999 22.1187 11.7686 21.7593 11.3492C21.3999 10.9299 20.7686 10.8813 20.3492 11.2408L14 16.6829L7.65081 11.2408Z' fill='%23B8FF5E'/%3E%3C/svg%3E%0A");
      transition: transform 350ms;
    }
  }

  &__collapse {
    display: grid;
    row-gap: 20px;
    padding-top: 30px;
  }
}
