@import '~styles/mixins';

.copybutton {
  display: flex;
  column-gap: 20px;
  align-items: end;
  font-weight: 500;
  color: $primary;
  text-align: left;
  text-decoration: underline;
  transition: color 200ms;

  &:not(button) {
    cursor: default;
  }

  @include b-d(xl) {
    column-gap: 15px;
  }

  &.copied,
  &:hover {
    color: $white;
  }

  svg {
    @include b-d(xl) {
      flex: 0 0 26px;
      width: 26px;
      height: 26px;
    }
  }
}
