@import '~styles/mixins';

.copy {
  &__button {
    margin-bottom: -5%;
    color: $primary;
    transition: color 200ms;

    &:hover {
      color: $white;
    }
  }

  svg {
    @include b-d(xl) {
      width: 26px;
      height: 26px;
    }
  }
}
