@import '~styles/mixins';

.contact {
  padding: 150px 0;
  background: $primary;

  &__inner {
    // display: grid;
    display: flex;
    align-items: end;
  }
}

.window {
  &__content {
    // display: grid;
    max-width: 510px;

    h2 {
      margin-bottom: 60px;
      line-height: 1.4;
    }
  }

  &__buttons {
    display: grid;
    grid-auto-flow: column;
    column-gap: 30px;
    justify-content: start;
  }

  &__envelope {
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
    align-items: center;
    justify-content: start;
    font-weight: 500;

    a {
      font-weight: 600;
    }
  }
}
