@import '~styles/mixins';

.partners {
  padding-top: 150px;
  padding-bottom: 150px;
  @include b-d(xl) {
    padding-top: 40px;
    padding-bottom: 120px;
  }
  @include b-d(md) {
    padding-top: 20px;
    padding-bottom: 100px;
  }
}

.top {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.carousel {
  --space: calc(50vw - (1280px / 2));

  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  padding-right: var(--space);
  padding-left: var(--space);
  margin-top: 70px;

  @include b-d(xxl) {
    --space: 40px;
  }

  @include b-d(lg) {
    --space: 20px;
  }
  @include b-d(md) {
    margin-top: 60px;
  }
}
