@import '~styles/mixins';

.endpoints {
  padding-top: 150px;
}

.lead {
  margin-top: 40px;

  span {
    padding: 0;
    background: none;
  }
}

.footer {
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  background: $black;

  &__link {
    padding: 20px 0;
    font-weight: 600;
    line-height: 1.2;

    &::after {
      border-bottom-width: 3px;
    }
  }
}
