/* stylelint-disable selector-pseudo-class-no-unknown */
@import '~styles/mixins';

.map {
  padding-top: 150px;

  @include b-d(xl) {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @include b-d(md) {
    padding-top: 20px;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    // padding-right: 40px;
  }

  &__info {
    display: flex;
    column-gap: 40px;
    align-items: center;

    @include b-d(lg) {
      column-gap: 20px;
    }

    @include b-d(md) {
      column-gap: 15px;
    }
  }

  &__stat {
    display: grid;
    row-gap: 14px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;

    @include b-d(lg) {
      font-size: 12px;
      font-weight: 500;
    }

    &_item {
      display: flex;
      column-gap: 12px;
      align-items: baseline;
      @include b-d(lg) {
        column-gap: 6px;
      }
    }

    b {
      font-size: 28px;
      font-weight: 500;
      line-height: 1;
      @include b-d(lg) {
        font-size: 20px;
      }
    }
  }

  &__wrap {
    margin-top: 12px;
    overflow: auto;

    @include horizontal-scroll;

    @include b-d(xl) {
      margin: 12px -20px 0;
    }
    @include b-d(lg) {
      padding-right: 12px;
      padding-left: 12px;
      margin: 12px -32px 0;
    }
    @include b-d(md) {
      margin: 12px -20px 0;
    }
  }

  &__canvas {
    position: relative;
    // height: 600px;
    aspect-ratio: 2 / 1;
    background-image: url('./img/map-min.png');
    background-size: cover;
    @include b-d(lg) {
      width: 1150px;
    }
    @include b-d(md) {
      width: 1040px;
    }
  }

  &__footer {
    margin-top: -72px;
    text-align: center;
    @include b-d(xl) {
      margin-top: -6px;
    }

    @include b-d(md) {
      margin: -6px -6px 0;

      :global(.btn) {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
}

// .switcher {
//   position: relative;
//   display: flex;
//   max-width: 288px;
//   padding: 6px;
//   font-size: 14px;

//   --pixel: 6px;
//   --bs-btn-bg: #{$black};
//   --bs-btn-hover-bg: #{$black};
//   --bs-btn-active-bg: #{$black};
//   --bs-btn-active-border-color: #{$black};

//   &.rpc {
//     :global(.btn-sm) {
//       min-width: 151px;
//       transform: translateX(113px);
//     }
//   }

//   button {
//     height: 52px;
//     padding: 0 22px;
//     font-weight: 700;
//     color: $white;
//     white-space: nowrap;
//     mix-blend-mode: difference;
//   }

//   :global(.btn-sm) {
//     position: absolute;
//     top: 6px;
//     left: 6px;
//     z-index: -1;
//     min-width: 113px;
//     pointer-events: none;
//     transition-duration: 300ms;
//     transition-property: min-width, transform;
//   }
// }

.counter {
  height: auto;
  padding: 17px 20px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1;
  color: $white;
  text-align: center;
  letter-spacing: 0.2em;
  background: $black;

  @include b-d(lg) {
    min-height: 62px;
    font-size: 26px;
  }

  span {
    margin-right: -0.2em;
  }
}

.divider {
  height: calc(100% + 4px);
  border-left: 3px solid;
  @include b-d(lg) {
    height: 100%;
    border-left-width: 2px;
  }
}

.points {
  list-style: none;
}

.point {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: default;
  background: $primary;
  border-radius: 50%;
  // transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 300ms;
  transform: translate(-50%, -50%);
  transform-origin: center;

  &:hover {
    z-index: 2;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
    }
  }

  @for $i from 0 through 15 {
    &:nth-child(#{$i + 1}) {
      transition-delay: #{$i * 50}ms;
    }
  }

  &.black {
    color: $white;
    background: $black;
  }

  &.medium {
    --size: 60px;

    width: var(--size);
    height: var(--size);
    font-size: 18px;
  }

  &.large {
    width: 80px;
    height: 80px;
    font-size: 22px;
  }

  // &.hide {
  //   visibility: hidden;
  //   opacity: 0;
  // }
}

/* stylelint-disable-next-line no-descending-specificity */
.tooltip {
  position: absolute;
  top: -10px;
  left: -20px;
  display: grid;
  row-gap: 10px;
  // min-height: 64px;
  padding: 4px 14px;
  font-size: inherit;
  font-weight: 400;
  color: $white;
  text-align: left;
  white-space: nowrap;
  cursor: default;
  visibility: hidden;
  background: $black;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-duration: 350ms;
  transition-property: opacity, visibility, transform;
  transform: translateX(-5px);

  --pixel: 6px;
  --bs-btn-bg: #{$black};
  --bs-btn-hover-bg: #{$black};
  --bs-btn-hover-color: #{$white};
  --bs-btn-active-bg: #{$black};
  --bs-btn-active-border-color: #{$black};
  --bs-btn-active-color: #{$white};

  li {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }

  span {
    display: flex;
    flex: 0 0 var(--size, 40px);
    align-items: center;
    justify-content: center;
    width: var(--size, 40px);
    height: var(--size, 40px);
    font-weight: 500;
    color: $black;
    background: $primary;
    border-radius: 50%;
  }
}
